@use "@/styles/tokens.scss" as *;

.passwordRules {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    @apply text-xs text-gray-500;
    padding-top: $spacing-xs;
  }
  
  .passwordRule {
    display: flex;
    flex-direction: row;
    gap: $spacing-xs;
    align-items: center;
  }
  
  .passwordRuleIconValid {
    @apply text-green-600;
  }
  
  .passwordRuleIconInvalid {
    @apply text-orange-600;
  }
  
  .passwordRuleIcon {
    width: 16px;
    height: 16px;
  }