@use "@/styles/tokens" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.title {
  align-self: center;
  @apply font-semibold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.successContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  align-items: center;
  justify-content: center;
}

.checkIconContainer {
    @apply bg-emerald-100;
    padding: $spacing-sm;
    border-radius: 999px;
    width: fit-content;
}

.checkIcon {
  @apply text-emerald-600 stroke-[3px];
  width: 24px !important;
  height: 24px !important;
}